body{
    width: 500px;
    height: 500px;
    margin: 250px auto;

}
.margin{
    border: dashed 2px black ;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px 25px 40px 40px;
}
.border{
    background-color:  #98bf21;
    padding: 1px 15px 15px 15px;
    border: solid 2px black;
}
.padding{
    background-color: white;
    padding: 1px 20px 40px;
    border: solid 2px black;
    margin: 2px 3px 2px 4px;
}
.content{
    border: dashed 2px black;
    margin: 2px 3px 2px 4px;
    padding: 1px 40px 80px 40px;
}