* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #37a1f2;
    width: 400px ;
    margin-left: 750px;
    margin-top: 150px;
}
section{ /*section*/
    border-radius: 20px;
    border: black  6px solid ; 
   
   
}
section > div { /*Borda branca */
    border-radius: 15px;
    background-color: white;
    padding: 70px 90px 50px;
}
div > h1 + div{ /*Barbacena*/
    
    font-size: 30px;
    text-align: center;
   
}
h1 + span{ /*Noite preta*/
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    margin-left: 13px;
    color: black;
    
}

h1 + span + span  { /*Céu limpo*/
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
    display: inline-block;
    color:#777; 
   
    
}

span + div{ /*Lua azul*/
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color:#37a1f2;
    margin-left: 40px;
    margin-top: 20px;
    box-shadow: 4px 2px 2px #333 ;
    margin-bottom: 20px;
}
span + div > div{ /*Lua branca*/
    border-radius: 50px;
    width: 70px;
    height: 75px;
    background-color: white;
}

div + h2{ /*18*/
    text-align: center;
    font-size: 65px;
    margin-bottom: 5px;
    color:#333 ;
}
h2 + div { /*Quinze*/
    margin-left: 55px;
    border-right: solid 2px #777;
    display: inline-block;
    padding-right: 5px;
    font-size: 25px;
    color:#777;
    

}
h2 + div + div { /*Vinte e cinco*/
    display: inline-block;
    padding-left: 5px; 
    font-size: 25px;  
     color:#777;
    
}
h2 + div + div + div { /*Borda baixa*/
    border-bottom: 2px solid #777;
    margin-top: 18px;
    
}
div + p{ /*Dias*/
    margin-left: 55px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
}
p + div { /*Graus*/
    display: inline-block;
    font-size: 18px;
    margin-left: 15px;
    color:#777;
}
