body{
    background-image: url("bg.jpeg");
    background-position: center;

}
form{
    box-shadow: 0 10px 30px black;
    border-radius: 7px;
    background-color: white;
    padding: 25px 25px 25px 25px;
    margin:220px auto;
    width: 250px;
}
h1{
    text-align: center;
    margin-bottom:20px;
    font-family:Arial, Helvetica, sans-serif;
}
#Nome{
    color:rgb(106, 106, 106);
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Username{
    border:none;
    border-bottom: 1px solid rgb(106, 106, 106) ;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#Senha{
    color: rgb(106, 106, 106);
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Password{
    border:none;
    border-bottom: 1px solid rgb(106, 106, 106) ;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#Lembrar{
   color:rgb(106, 106, 106); 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#Forget{
    text-align: right;
    color:rgb(106, 106, 106);
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Login{
    border-radius: 50px;
     background: linear-gradient(90deg, #6dd5ed, #c94bff);
    text-align: center;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#P{
    text-align: center;
    margin-top: 40px;
    margin-bottom :15px;
    color:rgb(106, 106, 106);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#Circulo{
    text-align: center;
    margin-bottom:60px;
}
#F{
    background-color: blue;
    color: white;
    border-radius: 75px;
    text-align: center;
    width:40px;
    height:40px;
    line-height:40px;
    display: inline-block; 
    right:50px;
}
#T{
    background-color: black ;
    color: white;
    border-radius: 75px;
    text-align: center;
    width:40px;
    height:40px;
    line-height:40px;
    display: inline-block;
    

}
#G{
    background-color:red;
    color: white;
    border-radius: 75px;
    text-align: center;
    width:40px;
    height:40px;
    line-height:40px;
    display: inline-block; 
}
#P1{
    text-align: center;
    margin-bottom: 10px;
    color:rgb(106, 106, 106);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#P2{
    text-align: center;
    padding-bottom: 10px;
    color:rgb(106, 106, 106);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}