* {
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
    padding-bottom: 45px;
}
#cabeça{
    padding-top:10px ;
    background: white;
}
#provacss{
    padding-top: 7px;
    padding-bottom: 7px;
    color:green;
    border-top: 5px solid;
    border-bottom: 5px solid;
    margin:5px;
    font-size: 20px;
    display: inline-block;
    margin-right: 230px;
    margin-left: 120px;
}
#Sobre{
    display: inline-block;
    margin-right: 90px;
    font-family: bold;
    font-size: 20px;
}
#Contato{
    display: inline-block;
    margin-right: 90px;
    font-family: bold;
    font-size: 20px;
}
#Login{
    display: inline-block;
    background-color: blue;
    color:white;
    border-radius: 6px;
    padding:10px
}
#Cores{
    background-image: url("bg.jpeg");
    background-size: 100% auto;
    padding:85px;
    margin-top: 20px;
    box-shadow:2px 4px 4px black;
    
}
#Web{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}
#Fácil{
    text-align: center;
    margin-top: 5px;
}
#Finalizar{
    color: white;
   background-color: red;
   padding: 15px;
   text-align: center;
   margin-left:875px;
   margin-right: 875px;
   margin-top: 20px;
   box-shadow:2px 2px 5px black;
}
section{
    margin-top: 25px;
    background-color: rgb(224, 223, 223);
}
#CONTATO{
    padding-top:20px ;
    font-size: 25px;
    margin-left: 25px;
}
#Email{
    text-decoration: underline;
    padding-top:15px ;
    margin-left: 25px;
}
#Instagram{
    text-decoration: underline;
    padding-top:5px ;
    margin-left: 25px;
}
#Rua{
    font-size: 15px;
     padding-top:20px ;
     padding-bottom: 20px;
     margin-left: 25px;
}
#Copy{
    text-align: center;
    margin-top: 40px;
}