body{
   
    width: 500px;
    margin : 175px auto;
    padding: 125px;
}

.Margin {
    border : dashed 2px black;
    text-align: center;
    padding: 4px 25px 25px 25px; ;
}

.Border {
    background-color: #98bf21;
    border: solid 2px black;
    padding : 4px 15px 20px 15px;
    
}

.Padding {
    border : solid 2px black;
    padding: 5px 20px 20px 20px;
    margin : 2px 4px 2px 4px;
    background-color: white;
}

.Content {
    border : dashed 2px black;
    padding : 50px 40px 50px 40px;
    margin : 2px 4px 2px 4px;
}
