*{
    margin: 0;
    padding: 0;
}
main{
    background-color: brown;
    text-align: center;
}
@media (max-width:900px){
    main{
        background-color: blue;
        border:solid 5px gray;
    }
}
@media (max-width:700px){
    main{
         background-color: blueviolet;
         border-radius: 10px;
    }
}

