*{
    margin: 0;
    padding: 0;
}
/*Index 1*/
div div div{
    background-color: blue;
 }
section#main > div.base + footer{
 }
.div + span.div > div.span + p.br{ 
}
/*Index 2*/
section#main > div.base + footer{ 
    background-color: blue;
}
/*Index 3*/
.div + span.div > div.span + p.br{
   background-color: aqua; 
 }
/*Index 4*/
.a > a + a{ /*link 2*/
    background-color: brown;
}
div > div> a{ /*link 3*/
    background-color:blueviolet;
}
div > div > div > a{ /*link 4 */
    background-color: aquamarine;
}